# Environments & Secrets
venv/
.venv/
.env
**/mlruns/
# Python Cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data 
data/error_logs/*
data/notifications/*
data/notifications_clean/*
data/master_directory/*
data/notification_historical/*
!data/notifications/.gitkeep
!data/error_logs/.gitkeep
!data/notifications_clean/.gitkeep
*.csv
*.parquet

# Saved ML Models 
saved_models/*
!saved_models/.gitkeep
*.pkl
*.h5
*.pt

# Personal Notes & Logs
notes/
*.log

# OS Junk (Windows)
Thumbs.db
desktop.ini

#specific file 
/config copy.json
/debug.txt
/debug_page.html
