APScheduler==3.11.3
Chroma==0.2.0
chromadb==1.5.9
feedparser==6.0.14
git-filter-repo==2.47.0
jupyter==1.1.1
langchain==1.4.2
langchain-google-genai==4.4.0
lxml==6.1.1
pip==24.3.1
pipdeptree==4.2.5
seaborn==0.13.2
sentence-transformers==6.0.1
toolz==1.1.0